header.header
    nav.navbar.navbar-expand-lg.py-0.position-relative.z-3
        .cnt.container-xl.px-4
            a.logo.navbar-brand.d-block.text-center(href='index.html') elida
            button.navbar-toggler(
                type='button',
                data-bs-toggle='collapse',
                data-bs-target='#navbarNav',
                aria-controls='navbarNav',
                aria-expanded='false',
                aria-label='Toggle navigation'
            )
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.menu.navbar-nav.d-flex.w-100.justify-content-center.gap-lg-5
                    li.menu-item.nav-item.text-center
                        a.menu-link.nav-link.text-uppercase.active(aria-current='page', href='commodities.html') commodities
                    li.menu-item.nav-item.text-center
                        a.menu-link.nav-link.text-uppercase(href='index.html') stations
                    li.menu-item.nav-item.text-center
                        a.menu-link.nav-link.text-uppercase(href='#') systems
